a, a:visited, a:active {
  color: #444;
}

.container {
  max-width: 900px;
  margin: auto;
}

.button {
  min-width: 130px;
  padding: 4px 5px;
  cursor: pointer;
  text-align: center;
  font-size: 15px;
  border: 2px solid #e5c9ef;
  text-decoration: none;
}

.button.active {
  background: #000;
  color: #fff;
}


#vis {
  width: 940px;
  height: 600px;
  clear: both;
  margin-bottom: 10px;
}

#toolbar {
  margin-top: 10px;
}

.year {
  font-size: 21px;
  fill: #aaa;
  cursor: default;
}

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 2px solid #000;
  background: #fff;
	opacity: .9;
  color: black;
	padding: 10px;
	width: 300px;
	font-size: 14px;
	z-index: 10;
}



.tooltip .title {
	font-size: 16px;
}

.tooltip .name {
  font-weight:bold;
}

.footer {
  text-align: center;
}

#year_update{
  font-size: 20px;
}

body{
  background-color: #f8f0fb;
}

div.ui-slider-range.ui-corner-all.ui-widget-header.ui-slider-range-min{
  background:#e5c9ef;
}
